.form {
  margin-top: 60px;
  display: grid;
  gap: 20px;

  grid-template:
  "slug text"
  "title text"
  "button button"
  ;
}


.form__slug {
  grid-area: slug;
}

.form__title {
  grid-area: title;
}

.form__text {
  grid-area: text;
}

.form__button {
  grid-area: button;

  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;

  transition: .5s linear;
}

.form__button:hover {
  cursor: pointer;
  color: #25252A;
  border: 1px solid #25252A;
  background-color: rgba(216, 243, 222, .9);

}

.form__field {
  width: 100%;
}